@import "rem";

$mainFont: "Raleway";
$secondFont: "Stolzl";

$mainColor: #eb6b3c;
$secondColor: #20232a;
$bgColor: #2b2f38;

$borderColor: #3f4044;

$copyrightColor: #838383;

$titleColor: #ffffff;
$subtitleColor: #a2a2a2;

$whiteColor: #ffffff;
$blackColor: #000000;

$notActiveColor: #595c62;

$width: 1170px;

